
.menu-active {
    transform: translateX(0) !important;
}

.line {
    width: 20px;
    height: 2px;
    background-color: #070707;
    margin: 4px 0;
    transition: transform 0.3s ease-in-out;
}


.nav1-link {
    position: relative;
    padding-bottom: 4px;
    /* transition: transform 0.3s ease; */
    display: inline-block;
 
}

.nav1-link:hover {
    transform: translateX(10px);
    
    
}





#side-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#side-menu-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
}

#close-menu-icon {
    margin-right: auto;
    margin-left: 0;
}

#side-menu-nav1 {
    margin-top: 2rem;
    width: 100%;
    text-align: left;
    padding-left: 2rem;
}

#side-menu-nav1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#side-menu-nav1 li {
    margin-bottom: 1rem;
}



#side-menu-nav1 a:hover {
    color: #ddd;
}


/* yaha tak thi  */




body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eb8989d3;
    color: #333;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    /* border-bottom: 1px solid #eee; */
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #854477;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

.search-icon {
    cursor: pointer;
    font-size: 1.2em;
    color: #777;
    transition: color 0.3s ease;
}

.search-icon:hover {
    color: #333;
}

.hero {
    background-image: url(image/backg.png);
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    z-index: 1;
    color: #fff;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.hero button {
    padding: 12px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.hero button:hover {
    background-color: #0056b3;
}

.hero .slider-controls {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.hero .slider-controls button {
    background: none;
    border: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.hero .slider-controls button:hover {
    opacity: 1;
}

.explore-categories {
    margin-bottom: 50px;
}

.explore-categories h2 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #2c3e50;
    font-weight: 600;
    text-align: center;
}

.category-slider-wrapper {
    position: relative;
    overflow: hidden;
}

.category-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding-left: 20px;
}

.category-slide {
    background-color: #fff;
color: #333;
padding: 30px;
text-align: center;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: transform 0.2s ease, box-shadow 0.2s ease;
flex: 0 0 auto;
width: 200px;
margin-right: 20px;
cursor: pointer; /* Add cursor for interaction */
}

.category-slide:last-child {
    margin-right: 0;
}

.category-slide:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slider-buttons {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.slider-buttons button {
    background: none;
    border: none;
    font-size: 1.5em;
    color: #c518f0;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

.slider-buttons button:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.05);
}

.category-slider-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.category-slider-wrapper::-webkit-scrollbar {
    display: none;
}

.recent-articles {
    margin-bottom: 60px;
}

.recent-articles h2 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #2c3e50;
    font-weight: 600;
    text-align: center;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.article-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* border: 2px solid rgba(221, 39, 182, 0.801); */
}

.article-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.article-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-content h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.4em;
    color: #2c3e50;
    font-weight: 600;
}

.article-content p {
    font-size: 1em;
    color: #666;
    line-height: 1.7;
}

.read-more {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    transition: color 0.3s ease;
    text-align: left;
}

.read-more:hover {
    color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px; /* Adjust spacing between buttons/numbers */
    align-items: center; /* Vertically align items */
}
.menu-active {
transform: translateX(0) !important;
}

.page-number,
.pagination button {
    margin: 25px 2px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove default link styling */
    color: #333;

}

.page-number:hover,
.pagination button:hover {
    background-color: #ccbcbc;
}

.page-number.active {
    background-color: #007bff; /* Highlight the active page */
    color: white;
    border-color: #007bff;
}

.sidebar {
    grid-column: 1 / -1;
    margin-top: 50px;
}

@media (min-width: 992px) {
    .main-content-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
    }

    .sidebar {
        grid-column: 2 / 3;
        margin-top: 0;
    }
}

.profile-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
}

.profile-card h3 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 10px;
}

.profile-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.social-links {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.social-links a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.5em;
    color: #888;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
}

.categories-widget,
.newsletter-widget {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.category-img{
    margin: 10px 0px;
    border-radius:4px ;
}

.categories-widget h3,
.newsletter-widget h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #2c3e50;
    font-weight: 600;
}

.categories-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-widget li {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
}

.categories-widget li:last-child {
    border-bottom: none;
}

.categories-widget li:hover {
    background-color: #f9f9f9;
    padding-left: 10px;
}


.categories-widget li a{
    color:#555;
    text-decoration: none;
    transition: color 0.3s ease;
}

.categories-widget li a:hover{
    color:#007bff;
}

.newsletter-widget p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}


.newsletter-widget button {
    width: calc(100% - 30px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #19b36b;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 1em;
}



.newsletter-widget button {
    background-color: #ff00b3;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    font-weight: 600;
}

.newsletter-widget button:hover {
    background-color: #b30095;

}



footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-size: 0.9em;
    margin-top: 60px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 100px 20px 0;
    display: flex;
    justify-content: flex-end;
}

.footer-nav li {
    margin: 0 20px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #007bff;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

  

    .logo {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-left: 0;
        margin-top: 15px;
    }

    .hero {
        padding: 100px 20px;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .article-grid {
        grid-template-columns: 1fr;
    }

    .sidebar {
        margin-top: 30px;
    }

    .footer-nav ul {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 80px 10px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .hero button {
        font-size: 1em;
        padding: 10px 20px;
    }
}
.menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
}

.menu-icon svg {
    width: 100%;
    height: 100%;
    fill: #333;
}
.button-space{
    margin-top: 15px;
}
.colorful-typewriter {
font-family: 'Courier New', monospace;
overflow: hidden;
white-space: nowrap;
border-right: .1em solid #ccc; /* Softer gray cursor */
animation: 
typing 4s steps(30, end) forwards,
blinking-cursor .75s step-end infinite;
}

@keyframes typing {
from { width: 0 }
to { width: 100% }
}

@keyframes blinking-cursor {
from, to { border-color: transparent }
50% { border-color: #ccc; }
}

.colorful-typewriter span:nth-child(3n+1) { color: #4ef82c98; } /* Soft Purple */
.colorful-typewriter span:nth-child(3n+2) { color: #34d2e7a2; } /* Soft Green */
.colorful-typewriter span:nth-child(3n+0) { color: #eb14bc; } /* Soft Blue */


